<%- include("partials/header") -%>
<h1>Compose</h1>
<form action="/compose" method="POST">
    <div class="form-group">
        <label for="title" style="font-weight: bold;">Title</label>
        <input type="text" name="input" id="title" class="form-control" autocomplete="off">
        <label for="text" style="font-weight: bold;">Post</label>
        <textarea name="posttext" id="text" cols="80" rows="5" class="form-control"></textarea>
    </div>
    <button name="btn" type="submit" class="btn btn-primary">publish</button>
</form>
<%- include("partials/footer") -%>